{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["react", "flowtype"],
  "env": {
    "es6": true,
    "shared-node-browser": true
  },
  "globals": {
    "global": true,
    "process": true
  },
  "rules": {
    "no-console": "off",
    "flowtype/generic-spacing": "off"
  },
  "overrides": [
    {
      "files": [
        "jest.config.js",
        "jest.framework-setup.js",
        "cosmos.config.js",
        "cosmos.test.js",
        "server.js",
        "server/**/*.js"
      ],
      "env": {
        "node": true
      }
    },
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": [
        "components/**/*.js",
        "pages/**/*.js",
        "utils/socket-connect.js",
        "cosmos.proxies.js"
      ],
      "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
      }
    },
    {
      "files": ["**/__fixtures__/**/*.js", "server.js"]
    }
  ]
}
