* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #34495f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
ul {
  list-style-type: none;
}
p {
  margin: 15px 0;
}
a {
  color: #34495f;
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
