/* Flatris expects a 480x600px viewport */
.flatris {
  position: relative;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 600px;
  margin: -300px 0 0 -240px;
  font-weight: 300;

  .well {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    background: #ecf0f1;
  }
  .game-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    padding: 0 30px;

    p {
      line-height: 1em;
    }
    .title {
      margin: 30px 0 0 0;
      color: #34495f;
      font-size: 40px;
      font-weight: normal;
      line-height: 60px;
    }
    .label {
      margin: 30px 0 0 0;
      color: #bdc3c7;
    }
    .count {
      margin: 5px 0 0 0;
      color: #3993d0;
      font-size: 30px;
      font-weight: normal;
    }
    .next-tetrimino {
      width: 120px;
      height: 120px;
      margin: 10px 0 0 0;

      .square-block {
        /* Override any color the next Tetrimino has for a gray shape */
        background-color: #ecf0f1 !important;
      }
      /* The I Tetrimino needs to be lifted a bit because it has an empty row
      in its default position */
      .flatris .game-panel .next-tetrimino-I {
        margin-top: -20px;
      }
    }
    button {
      position: absolute;
      bottom: 30px;
      left: 30px;
      right: 30px;
      display: block;
      width: 120px;
      height: 30px;
      padding: 0 10px;
      border: 0;
      background: #34495f;
      color: #fff;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      outline: none;
    }
  }
}
