/* Flatris expects a 480 width viewport */

.flatris-game {
  position: relative;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.flatris-game .well-container {
  position: absolute;
  top: 0;
  left: 0;
  background: #ecf0f1;
}

.flatris-game .info-panel-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(236, 240, 241, 0.85);
}

.flatris-game .game-panel-container {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
}

.flatris-game .controls {
  position: absolute;
  left: 0;
}

.flatris-game .controls button {
  position: absolute;
  top: 0;
  background: #ecf0f1;
  color: #34495f;
}

.flatris-game .controls button svg {
  fill: #34495f;
}

.flatris-game .controls button:nth-child(1) {
  left: 0;
}

.flatris-game .controls button:nth-child(1) svg {
  transform-origin: 50% 50%;
  transform: scale(-1, 1);
}

.flatris-game .controls button:nth-child(2) {
  left: 26.67%;
}

.flatris-game .controls button:nth-child(3) {
  right: 26.67%;
}

.flatris-game .controls button:nth-child(4) {
  right: 0;
}
