.flatris-state-preview {
  margin: 0;
  padding: 0;
  padding: 15px;
  background: #34495f;
  color: #ecf0f1;
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 14px;
  overflow: scroll;
}
