.game-panel {
  color: #34495f;
}

.game-panel p {
  margin: 0;
  line-height: 1em;
}

.game-panel .title {
  color: #34495f;
  font-weight: normal;
  line-height: 1.5em;
}

.game-panel .label {
  color: #9ba4ab;
  font-weight: 300;
}

.game-panel .count {
  margin: 0.16em 0 0 0;
  color: #3993d0;
  font-weight: normal;
}

.game-panel .next-tetromino {
}

.game-panel .next-tetromino .square-block {
  /* Override any color the next Tetromino has for a gray shape */
  background-color: #ecf0f1 !important;
}

/* The I Tetromino needs to be lifted a bit because it has an empty row
in its default position */
.game-panel .next-tetromino.next-tetromino-I {
  transform: translate(0, -25%);
}

.game-panel button {
  position: absolute;
  margin: 0;
  padding: 0;
}
