@import '../lib/font.scss';
@import '../lib/link.scss';

.info-panel {
  @include font();

  padding: 0 15px;

  p {
    margin: 30px 0;
    font-size: 16px;
    line-height: 1.5em;
  }

  a {
    @include link();
  }

  .large-text {
    font-size: 18px;
  }
}
