.info-panel {
  color: #34495f;
}

.info-panel p {
  margin: 1em;
  line-height: 1.5em;
}

.info-panel a {
  color: #34495f;
  font-weight: bold;
  text-decoration: none;
}

.info-panel a:hover {
  text-decoration: underline;
}
