.info-panel {
  color: #34495f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0 15px; }
  .info-panel p {
    margin: 30px 0;
    font-size: 16px;
    line-height: 1.5em; }
  .info-panel a {
    color: #34495f;
    font-weight: bold;
    text-decoration: none; }
    .info-panel a:hover {
      text-decoration: underline; }
  .info-panel .large-text {
    font-size: 18px; }
